.title{
    color:purple;
    justify-content: center;
    font-family: 'Trebuchet MS';
    font-size: 24px;
    margin-top: 10px;
    margin-left: 5%;
}

.img{
    width: 100px;
    height: 100px;
    margin-left: 33%;
    margin-top: 25px;
    border-radius: 10px;
}

.content{
    color:pink;
}