.title{
    color:purple;
    justify-content: center;
    font-family: 'Trebuchet MS';
}

ion-content.background{
    --background: url(../../assets/img/bg.jpg);
}

.error{
color:red;
font-size: 12px;
justify-content:center;

}

.dog{
    width: 200px;
    height: 200px;
    margin-left: 15%;
    margin-top: 25px;
    border-radius: 10px;
}

.input-box{
    width: 200px;
    height: 50px;
    background-color: rgb(245, 223, 243);
    border-radius: 20px;
    margin-left: 15%;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;

}

.btn{
    margin-left: 25%;
    width:150px;
    color:white;
    margin-top:10px;

}