<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      I-Guess
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="title" size="large">I-Guess</ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="dog" *ngFor="let img of images" src={{img.message}}>
 
  <div>
    <ion-input id="name" class="input-box" placeholder="What's your name?"></ion-input>
    </div>

    <div>
      <ion-button color="tertiary" shape="round" size="default" class="btn">Predict!</ion-button>
      </div>

</ion-content>
